@font-face {
	font-family: BenjaminSans-Bold;
	src: url('fonts/BenjaminSans-Bold.ttf');
}

@font-face {
	font-family: AucoinLight;
	src: url('fonts/AucoinLight.ttf');
}

@font-face {
	font-family: Bernstein;
	src: url('fonts/Bernstein.ttf');
}

/* dashboardHeader */
#logo {
	font-family: BenjaminSans-Bold; 
	font-size: 26px;
}

/*Side Menu*/
#sideMenu {
	background: rgba(0, 0, 0, 0.1);
}

#sideMenuList {
	font-size: 12px; 
	font-family: AucoinLight, Arial, Helvetica Nuen;
}

#homeMenu {
	color: #ddd;
}

#roleMenu {
	font-size: 11px; 
	color: #ddd;
}

#moduleMenu {
	font-size: 11px; 
	color: #ddd;
}

#userPermissionMenu {
	font-size: 11px; 
	color: #ddd;
}

#moduleMenu {
	font-size: 11px; 
	color: #ddd;
}

#userMenu {
	font-size: 11px; 
	color: #ddd;
}

#staffgroupMenu {
	font-size: 11px; 
	color: #ddd;
}

#designatedpositionMenu {
	font-size: 11px; 
	color: #ddd;
}

#staffMenu {
	font-size: 11px; 
	color: #ddd;
}

#customerMenu {
	font-size: 11px; 
	color: #ddd;
}

#supplierMenu {
	font-size: 11px; 
	color: #ddd;
}

#storagelocationMenu {
	font-size: 11px; 
	color: #ddd;
}

#servicecategoryMenu {
	font-size: 11px; 
	color: #ddd;
}

#serviceMenu {
	font-size: 11px; 
	color: #ddd;
}

#partscategoryMenu {
	font-size: 11px; 
	color: #ddd;
}

#partsMenu {
	font-size: 11px; 
	color: #ddd;
}

#partsinventoryMenu {
	font-size: 11px; 
	color: #ddd;
}

#productcategoryMenu {
	font-size: 11px; 
	color: #ddd;
}

#productMenu {
	font-size: 11px; 
	color: #ddd;
}

#productinventoryMenu {
	font-size: 11px; 
	color: #ddd;
}

#purchaseorderMenu {
	font-size: 11px; 
	color: #ddd;
}

#quotationMenu {
	font-size: 11px; 
	color: #ddd;
}

#invoiceMenu {
	font-size: 11px; 
	color: #ddd;
}

#deliveryorderMenu {
	font-size: 11px; 
	color: #ddd;
}

#raceMenu {
	font-size: 11px; 
	color: #ddd;
}

#paymenttypeMenu {
	font-size: 11px; 
	color: #ddd;
}

#userMenus {
	font-size: 11px; 
	color: #ddd;
}

#staffMenus {
	font-size: 11px; 
	color: #ddd;
}

#serviceMenus {
	font-size: 11px; 
	color: #ddd;
}

#partsMenus {
	font-size: 11px; 
	color: #ddd;
}

#productMenus {
	font-size: 11px; 
	color: #ddd;
}

.activeMenu {
	background: #1a2226;
}

.subMenu {
	font-size: 11px;
}

.breadcrumbs-container {
	font-family: Bernstein, Arial, Helvetica Nuen;
	font-size: 12px; 
	border-radius: 5px;box-shadow: 1px 1px 1px 1px; 
  	background: #ffffff; 
  	margin: 0 auto;
}
/* Content */
.divContainer {
	font-family: Bernstein, Arial, Helvetica Nuen;
}

.containerHeadWrapper {
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px; 
	background: #ffffff; 
	margin: 0 auto;
}

.divHeaderLabel {
	font-family: Bernstein, Arial, Helvetica Nuen; 
	text-shadow: 1px 1px #eeeeee;
	color: #444;
}

.search-label {
	font-size: 12px;
	font-weight: bold;
}

.inputForm {
	font-size: 11px;
	border: solid 1px #aaa;
	border-radius: 5px;
	box-shadow: inset .5px .5px .5px 0 #707070;
	text-transform: uppercase;
	font-family: Bernstein, Arial, Helvetica Nuen;
	color: #444;
}

.formBtn {
	font-size: 12px;
	box-shadow: .5px .5px .5px .5px;
}

.containerContentWrapper {
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px; 
	background: #ffffff; 
	margin: 0 auto;
}

.btnsContainer {
	margin-top: 35px;
}

.contentWrapper {
	margin-top: 25px;
	font-size: 11px;
	text-transform: uppercase;
}

.contentWrapper table{
	border: solid 1px #ddd;
}

.contentWrapper table tr th{
	border: solid 1px #ddd;
}

.contentWrapper table tr td{
	border: solid 1px #ddd;
	font-size: 10px;
	color: #444;
}

.modal-title {
	font-family: Bernstein, Arial, Helvetica Nuen; 
	color: #444;
	text-shadow: 1px 1px #eeeeee;
}

.labelStyle {
	font-size: 11px; 
	color: #444;
}

.pdf_headBg {
	background: #eee;
	font-size: 11px;
	text-transform: uppercase;
	text-align: center;
}

.modalInventoryDesign {
	width: 90%;
}

.modalInventoryDesignRside {
	border-right: solid 1px #eee;
}

.modalInventoryDesignLside {
	border-left: solid 1px #eee;
}

.selectedItemContainer {
	border: solid 1px #ccc; 
	border-radius: 10px;
}

.selectedItemContent {
	margin-top: 10px; 
	margin-left: 10px;
}

.selectedItemListDesign {
	width: 98%; 
	margin: 0 auto;
}

.insertedContactpersonAddressListDesign {
	width: 100%; 
	margin: 0 auto;
}

.ContactpersonAddressHeader {
	font-family: Bernstein, Arial, Helvetica Nuen; 
	color: #444;
	font-weight: 600;
	font-size: 12px;
	margin-left: -10px;
}

.selectedBtns {
	font-size: 11px;
}

.modalUPDesign {
	width: 70%;
}

/* Transaction */
.informationsContainer {
	width: 99%; 
	margin: 0 auto;
	border: solid 1px #ccc;
}

.headerLabelContainer {
	border: solid 1px #ccc; 
	background: #222d32;
}

.headerLabel {
	color: #fff; 
	font-family: Bernstein, Arial, Helvetica Nuen; 
	font-size: 12px; 
	font-weight: 600; 
	margin-left: 5px;
}

.labelAlignment {
	margin-left: 5px;
}

.transactionForm {
	font-size: 11px;
	border: solid 1px #aaa;
	border-radius: 5px;
	box-shadow: inset .5px .5px .5px 0 #707070;
	text-transform: uppercase;
	font-family: Bernstein, Arial, Helvetica Nuen;
	color: #444;
	text-align: center;
	width: 65%;
	font-weight: 600;
}

.transactionTxtAreaForm {
	font-size: 11px;
	border: solid 1px #aaa;
	border-radius: 5px;
	box-shadow: inset .5px .5px .5px 0 #707070;
	text-transform: uppercase;
	font-family: Bernstein, Arial, Helvetica Nuen;
	color: #444;
	width: 95%;
}

.transactionDiscountTxtAreaForm {
	font-size: 11px;
	border: solid 1px #aaa;
	border-radius: 5px;
	box-shadow: inset .5px .5px .5px 0 #707070;
	text-transform: uppercase;
	font-family: Bernstein, Arial, Helvetica Nuen;
	color: #444;
}

.inputboxAlignment {
	margin-top: 10px;
}

.inputboxWidth {
	width: 85%;
}

.btnAlignment {
	margin-top: 20px;
}

.servicesContainerAlignment {
	margin-top: 75px;
}

.selectedItemLabel {
	font-size: 14px; 
	font-weight: 600; 
	color: #444;
	font-family: Bernstein, Arial, Helvetica Nuen;
}

.inputboxTotalAlignment {
	text-align: center;
}

.selectedPartsAndServices {
	font-family: Bernstein, Arial, Helvetica Nuen; 
	font-family: 11px; 
	font-weight: 600; 
	color: #444;
	text-align: center;
}

.selectedPartsAndServicesFontSize {
	font-size: 11px;
}

.insertedContactpersonAddress {
	font-family: Bernstein, Arial, Helvetica Nuen; 
	font-family: 11px;
	color: #444;
	text-transform: uppercase;
	margin-left: 8px;
}

.ContactpersonAddressFontSize {
	font-size: 11px;
}

#currentQtyStyle {
	margin-top: -10px; 
	margin-left: -1px; 
	font-size: 11px; 
	color: #444;
}

#currentDOQtyStyle {
	margin-top: -10px; 
	margin-left: -1px; 
	font-size: 12px; 
	color: #444;
}

.currentQtyContent {
	font-size: 11px; 
	color: #00a65a; 
	font-weight: 600;
}

.currentDOQtyContent {
	font-size: 12px; 
	color: #00a65a; 
	font-weight: 600;
}

#discountAmount {
	text-align: center;
	font-weight: 600;
}

#update_discountAmount {
	text-align: center;
	font-weight: 600;
}

.readonlyForm {
	text-align: center; 
	font-weight: 600; 
	color: #444;
}

.inputChkbox {
	font-size: 11px; 
	color: #444; 
	text-transform: uppercase;
}

/* Prview Quotation */
.branchRowContainer {
	text-align: center; 
	font-size: 11px;
	color: #444;
	font-family: Bernstein, Arial, Josefin sans, sans-serif;
}

.quoteCodeAndDate {
	color: #444;
}

.customerRowWrapper {
	border: solid .5px #73879C; 
	margin: 0 auto; 
	font-size: 11px; 
	font-family: Bernstein, Arial, Helvetica Nuen;
}

.customerRowContainer {
	text-transform: uppercase; 
	padding-left: 5px;
}

#selecteditems {
	border: solid .5px #73879C;
}

.qpreviewth {
	background: #000; 
	color: #fff;
}

.servicespartsContainerHeader {
	font-size: 11px; 
	text-align: center; 
	text-transform: uppercase;
}

.servicespartsLists {
	font-size: 10.5px; 
	text-align: center; 
	text-transform: uppercase;
}

.remarksamountdueWrapper {
	margin: 0 auto; 
	border: solid .5px #73879C;
	margin-top: -15px;
}

.remarksamountdueHeader {
	font-size: 13px; 
	font-weight: bold;
}

.quoPreviewRemarks {
	margin-top: 10px; 
	font-size: 11px; 
	font-weight: bold; 
	background-color: #fff;
}

.remarksContent {
	font-size: 11px;
	color: #444; 
	text-transform: uppercase;
	background: #fff;
}

.amountdueContainer {
	border-left: solid .5px #73879C;
}

.amountdueTbl {
	border: 1px solid #eee;
}

.amountdueTh {
	font-size: 10.5px;
}

.amountdueTd {
	font-size: 11px;
	color: #444;
	font-weight: 600;
}

/* Table inside JQuery */
.viewTableContent {
	border: solid 1px #ddd; 
	font-size: 11px; 
	font-family: Bernstein, Arial, Helvetica Nuen; 
	color: #444;
}

.viewTableContent  table{
	border: solid 1px #ddd; 
	font-size: 11px; 
	font-family: Bernstein, Arial, Helvetica Nuen; 
	color: #444;
}

.viewTableContent  tr td{
	border: solid 1px #ddd; 
	font-size: 11px; 
	font-family: Bernstein, Arial, Helvetica Nuen; 
	color: #444;
}

/* form validation style */
.error {
   color: #ff0000;
   font-size: 12px;
   margin-top: 5px;
   margin-bottom: 0;
}
 
.inputTxtError {
   border: 1px solid #ff0000;
   color: #0e0e0e;
}